/* https://www.w3schools.com/cssref/css_selectors.asp */

.brand {
    font-weight: bold;
    color: #FFF;
    text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
}

.brand:hover {
	text-decoration:none;
	color:#000;
}

#intro {
	font-size:50px;
}

#intro:hover {
	text-decoration:none;
}

.bg-bar {
	/* background: url("images/bg-bar.jpg"); */
	background-color:#dc3545;
    background-size: cover;
}

.bg-bar a:hover {
	color: white !important;
}

.centered {
	margin-left: auto;
	margin-right: auto;
	padding-left: auto;
	padding-right: auto;	
}

body {
	background-color: #77BEFB;
	background: url("images/body_bg_center.jpg");
}

footer {
	text-align: center;
	width: 100%;
	background: radial-gradient(#252525, rgba(150,150,150,0.9));
	padding: 1em;
	margin: 2% 0% 0% 0%;
}

footer::after {
	content: url("http://jigsaw.w3.org/css-validator/images/vcss");
}

#validated {
	text-align: center;
}

article {
	text-align: center;
	margin: 1em;
	color: white;
}

a {
	color: red;
}

a:hover {
	color: red;
}

img.displayed {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto
}

.std-well-cent {
	width: 85%;
	background-color: #222222;
	background: radial-gradient(#666666, #2f2f2f);
	border-width: 5px;
	border-radius: 20px;
	border-color: #333333;
	border-style: groove;
	padding: 1.5em;
	text-align: center;
	color: white;
}

.std-well-just {
	width: 85%;
	background-color: #222222;
	background: radial-gradient(#666666, #2f2f2f);
	border-width: 5px;
	border-radius: 20px;
	border-color: #333333;
	border-style: groove;
	padding: 1.5em;
	text-align: justify;
	color: white;
}